
# Ignore Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**.tfplan
**.tfstate
**.tfstate.backup
**.tfvars
**.tfstate*
crash.log



# Ignore Terraform CLI configuration file
**.terraform.rc

# Ignore Terraform v0.14 and later lock file
**.terraform.lock.hcl

# Ignore shell script files
*.sh